@font-face {
  font-family: "erbos_draco_1st_open_nbp";
  src: url(../Fonts/erbos_draco_1st_open_nbp.woff);
}

label {
    margin-right: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.heading, .name, .score {
	font-family: "erbos_draco_1st_open_nbp", sans-serif;
	color: Gold;
	background-color: DarkGreen;
	padding: 0.5em
}

.heading {
    text-align: left;
    font-size: 1em;
}

.name {
    font-size: 1em;
	width: 15em;
}

.score {
    font-size: 2em;
}

.sets {
    text-align: center;
}

.points {
    width: 2em;
}

.games {
    width: 2em;
}

.sets {
    width: 1em;
}

.forSizingOnly {
    visibility: hidden;
}

#player1Serving, #player2Serving {
    display: none;
}

.significantPoint {
    background-color: purple;
    color: white;
    padding: 5px;
}
