@font-face {
  font-family: "erbos_draco_1st_open_nbp";
  src: url(../Fonts/erbos_draco_1st_open_nbp.woff);
}

label {
    margin-right: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.name, .score {
	font-family: "erbos_draco_1st_open_nbp", sans-serif;
	color: Gold;
	background-color: DarkGreen;
	padding: 20px;
}

.name {
    font-size: 2em;
	min-width: 300px;
}

.score {
    font-size: 5em;
}

.points {
    min-width: 160px;
}

.games {
    min-width: 160px;
}

.sets {
    min-width: 80px;
}

.forSizingOnly {
    visibility: hidden;
}
